#PostgresDB
USER_DB=
DB_PASSWORD=
DB_NAME=
DB_PORT=

#Url Services
SERVICE_VERIFY_EMAIL_URL=
SERVICE_URL=
SERVICE_RESET_PASSWORD_URL=
REDIRECT_URI=

CORS_ORIGIN=

#Oauth
OAUTH_LOGIN_URL=

#REDIS
REDIS_URI=

# GMAIl SMTP
SMTP_PORT=

SERVER_SMTP_USER_NAME=

#Secret to JWT
SECRET=
SECRET_CODE=
