#PostgresDB
USER_DB=
DB_PASSWORD=
DB_NAME=
DB_PORT=

#Url Services
SERVICE_VERIFY_EMAIL_URL=
SERVICE_URL=
SERVICE_RESET_PASSWORD_URL=
REDIRECT_URI=

CORS_ORIGIN=

#Oauth
OAUTH_LOGIN_URL=

#REDIS
REDIS_URI=

# GMAIl SMTP
SMTP_PORT=
SERVER_SMTP=
SERVER_SMTP_USER_NAME=
SERVER_SMTP_PASSWORD=

#Secret to JWT and Pepper Secret to Client Secret generate
SECRET=
CLIENT_SECRET_PEPPER=

#Environment to valid synchronize db enabled or not
NODE_ENV=
